<div class="mx-auto text-center mt-5 w-50 p-5">
  <section class="layout-row align-items-center justify-content-between">
    <label>Celsius: </label>
    <input
      type="number"
      class="form-control"
      data-test-id="celsius-input"
      [(ngModel)]="celiValue"
      (input)="celiToFer()"
    />
  </section>

  <section class="layout-row align-items-center justify-content-between">
    <label>Fahrenheit: </label>
    <input
      type="number"
      class="form-control"
      [(ngModel)]="ferValue"
      (input)="FerToCeil()"
      data-test-id="fahrenheit-input"
    />
  </section>
  <div class="alert alert-danger">
    {{ ferValue }}
  </div>
</div>
